@import './fonts.styl'

:root
  --azul-borda-menu: #46A3FF
  --cor-fundo-home: #E9F4FB
  --azul-claro: #BFDAEB
  --azul-label: #4E657B
  --azul-btn: #A6C1D2;
  --azul-medio: #2693FF
  --azul-escuro: #283848
  --branco: #fff
  --verde: #1AD18F

body
  border: 0
  margin: 0
  padding: 0
  vertical-align: baseline
  font-family 'Gilroy Medium', sans-serif
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
a{
  color: var(--azul-medio)
}
.mb-16
  margin-bottom: 16px 