@import './fonts.styl'

:root
  --cor-fundo-checkbox #E2EEF5
  --cor-titulo-tarefa #304458
  --branco-fundo-submenu #F4FBFF
  --cor-botao-flutuante #0ED984
  --cor-botao-flutuante-clicado #0eb56f
  --cor-titulo-submenu #4E5F70
  --azul-borda-menu #46A3FF
  --cor-fundo-home #E9F4FB
  --azul-claro #BFDAEB
  --azul-label #4E657B
  --azul-btn #A6C1D2
  --azul-medio #2693FF
  --azul-escuro #283848
  --cinza-medio #77899E
  --branco #fff
  --verde #1AD18F
  --vermelho #FF2E79
  --amarelo #FFC42E

body
  border: 0
  margin: 0
  padding: 0
  vertical-align: baseline
  font-family 'Gilroy Medium', sans-serif
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
a{
  color: var(--azul-medio)
}
.mb-16
  margin-bottom: 16px 